- unless @allowed_to_merge
  - if @project.archived?
    %p
      %strong Archived projects cannot be committed to!
  - else
    .automerge_widget.cannot_be_merged.hide
      %strong This request can't be merged automatically. Even if it could be merged, you don't have permission to do so.
    .automerge_widget.work_in_progress.hide
      %strong This request can't be merged automatically because it is marked a Work In Progress. Even if it could be merged, you don't have permission to do so.
    .automerge_widget.can_be_merged.hide
      %strong This request can be merged automatically, but you don't have permission to do so.


- if @show_merge_controls
  .automerge_widget.can_be_merged.hide
    .clearfix
      = form_for [:automerge, @project.namespace.becomes(Namespace), @project, @merge_request], remote: true, method: :post do |f|
        .accept-merge-holder.clearfix.js-toggle-container
          .accept-action
            = f.submit "Accept Merge Request", class: "btn btn-create accept_merge_request"
          - if can_remove_branch?(@merge_request.source_project, @merge_request.source_branch) && !@merge_request.for_fork?
            .accept-control.checkbox
              = label_tag :should_remove_source_branch, class: "remove_source_checkbox" do
                = check_box_tag :should_remove_source_branch
                Remove source-branch
          - if @merge_request.target_project.merge_requests_rebase_enabled && can_rebase?(@merge_request.target_project, @merge_request.target_branch)
            .accept-control.remove_branch_holder
              = label_tag :should_rebase, class: "checkbox" do
                = check_box_tag :should_rebase, "1", @project.merge_requests_rebase_default
                Rebase before merge
          .accept-control
            = link_to "#", class: "modify-merge-commit-link js-toggle-button", title: "Modify merge commit message" do
              %i.fa.fa-edit
              Modify commit message
          .js-toggle-content.hide.prepend-top-20
            = render 'shared/commit_message_container', params: params,
                text: @merge_request.merge_commit_message,
                rows: 14, hint: true

        %br
        .light
          If you still want to merge this request manually - use
          %strong
            = link_to "command line", "#modal_merge_info", class: "how_to_merge_link vlink", title: "How To Merge", "data-toggle" => "modal"


  .automerge_widget.no_satellite.hide
    %p
      %span
        %strong This repository does not have satellite. Ask an administrator to fix this issue

  .automerge_widget.cannot_be_merged.hide
    %h4
      This request can't be merged with GitLab.
      You should do it manually with
      %strong
        = link_to "#modal_merge_info", class: "underlined-link how_to_merge_link", title: "How To Merge", "data-toggle" => "modal" do
          command line

    %p
      %button.btn.disabled{:type => 'button'}
        %i.fa.fa-warning
        Accept Merge Request
      &nbsp;
      This usually happens when git can not resolve conflicts between branches automatically.

  .automerge_widget.work_in_progress.hide
    %h4
      This request can't be merged because it is marked a <strong>Work In Progress</strong>.

    %p
      %button.btn.disabled{:type => 'button'}
        %i.fa.fa-warning
        Accept Merge Request
      &nbsp;

      When the merge request is ready, remove the "WIP" prefix from the title to allow it to be merged.

  .automerge_widget.unchecked
    %p
      %strong
        %i.fa.fa-spinner.fa-spin
        Checking for ability to automatically merge…

  .automerge_widget.already_cannot_be_merged.hide
    %p
      %strong This merge request can not be merged. Try to reload the page.

  .merge-in-progress.hide
    %p
      %i.fa.fa-spinner.fa-spin
      &nbsp;
      Merge is in progress. Please wait. Page will be automatically reloaded. &nbsp;
