- page_title "Users"
= render 'shared/show_aside'

.row
  %aside.col-md-3
    .admin-filter
      %ul.nav.nav-pills.nav-stacked
        %li{class: "#{'active' unless params[:filter]}"}
          = link_to admin_users_path do
            Active
            %small.pull-right= User.active.count
        %li{class: "#{'active' if params[:filter] == "admins"}"}
          = link_to admin_users_path(filter: "admins") do
            Admins
            %small.pull-right= User.admins.count
        %li{class: "#{'active' if params[:filter] == "blocked"}"}
          = link_to admin_users_path(filter: "blocked") do
            Blocked
            %small.pull-right= User.blocked.count
        %li{class: "#{'active' if params[:filter] == "wop"}"}
          = link_to admin_users_path(filter: "wop") do
            Without projects
            %small.pull-right= User.without_projects.count
      %hr
      = form_tag admin_users_path, method: :get, class: 'form-inline' do
        .form-group
          = search_field_tag :name, params[:name], placeholder: 'Name, email or username', class: 'form-control'
        = button_tag class: 'btn btn-primary' do
          %i.fa.fa-search
      %hr
      = link_to 'Reset', admin_users_path, class: "btn btn-cancel"

  %section.col-md-9
    .panel.panel-default
      .panel-heading
        Users (#{@users.total_count})
        .panel-head-actions
          = link_to 'Send email to users', admin_email_path, class: 'btn btn-sm'
          .dropdown.inline
            %a.dropdown-toggle.btn.btn-sm{href: '#', "data-toggle" => "dropdown"}
              %span.light sort:
              - if @sort.present?
                = sort_options_hash[@sort]
              - else
                = sort_title_name
              %b.caret
            %ul.dropdown-menu
              %li
                = link_to admin_users_path(sort: sort_value_name) do
                  = sort_title_name
                = link_to admin_users_path(sort: sort_value_recently_signin) do
                  = sort_title_recently_signin
                = link_to admin_users_path(sort: sort_value_oldest_signin) do
                  = sort_title_oldest_signin
                = link_to admin_users_path(sort: sort_value_recently_created) do
                  = sort_title_recently_created
                = link_to admin_users_path(sort: sort_value_oldest_created) do
                  = sort_title_oldest_created
                = link_to admin_users_path(sort: sort_value_recently_updated) do
                  = sort_title_recently_updated
                = link_to admin_users_path(sort: sort_value_oldest_updated) do
                  = sort_title_oldest_updated

          = link_to 'New User', new_admin_user_path, class: "btn btn-new btn-sm"
      %ul.well-list
        - @users.each do |user|
          %li
            .list-item-name
              - if user.blocked?
                %i.fa.fa-lock.cred
              - else
                %i.fa.fa-user.cgreen
              = link_to user.name, [:admin, user]
              - if user.admin?
                %strong.cred (Admin)
              - if user == current_user
                %span.cred It's you!
            .pull-right
              %span.light
                %i.fa.fa-envelope
                = mail_to user.email, user.email, class: 'light'
              &nbsp;
              = link_to 'Edit', edit_admin_user_path(user), id: "edit_#{dom_id(user)}", class: "btn btn-sm"
              - unless user == current_user
                - if user.blocked?
                  = link_to 'Unblock', unblock_admin_user_path(user), method: :put, class: "btn btn-sm success"
                - else
                  = link_to 'Block', block_admin_user_path(user), data: {confirm: 'USER WILL BE BLOCKED! Are you sure?'}, method: :put, class: "btn btn-sm btn-remove"
                = link_to 'Destroy', [:admin, user], data: { confirm: "USER #{user.name} WILL BE REMOVED! All tickets linked to this user will also be removed! Maybe block the user instead? Are you sure?" }, method: :delete, class: "btn btn-sm btn-remove"
    = paginate @users, theme: "gitlab"
